* {
    padding: 0;
    color: white;
    margin: 0;
    /* outline: 1px solid red; */
}

html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    font-family: 'Orbitron', sans-serif;
    min-height: 100%;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}

h1,
h2,
h3,
.nav-links {
    font-family: 'Orbitron', sans-serif;
}

nav {

    position: fixed;
    top: 0;
    z-index: 10;
    font-family: sans-serif;
    height: 70px;
    font-size: 15px;
    /* Adjust based on design */
    width: 100%;
    overflow: hidden;
    font-weight: 300;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

nav img {
    width: 80px;
}

nav ul {
    display: flex;
    margin: auto;

    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

nav ul li {
    color: white;
    list-style: none;
    text-decoration: none;
}

nav ul a {
    text-decoration: none;
    color: white;
    padding: 10px;

}

nav ul a:hover {
    border-bottom: 3px solid rgb(255, 132, 0);
}

.navflex {
    display: flex;
    justify-content: space-between;
}

.active {
    color: orangered;
}

.tgilogo {
    padding: 0px;
    margin-left: 54px;
}

.social {
    margin: 24px 24px 0px 0px;
    width: 21px;
    padding: 8px;
    opacity: 1;
}

.banner {
    position: static;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60vh;
    background-size: 100% 100%;
    z-index: 100;
}

.head {
    text-align: center;
    font-size: 3.5em;
    padding: 10px;
    color: #f05323;
    text-shadow: 0 0 8px #f05323;
    margin-top: 100px;
    position: relative;
}

.flex-cols {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    /* height: 100px; */
    /* background-color: yellow; */
    width: 80vw;
    height: 370px;
    gap: 40px;
    /* padding: 20px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: 30px 0px;
    background-color: #333;
    border-radius: 20px;
}

.box img {
    width: 500px;
    object-fit: contain;
    border-radius: 10px;

}

.box img:hover {
    /* box-shadow: 0px 0px 3px #ccc; */
    transform: scale(1.02);

}

.content {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-left: 4px solid rgb(250, 139, 4);
    border-right: 4px solid rgb(250, 139, 4);
}

.footer {
    background-color: #101820;
    color: #fff;
    padding: 40px 0 20px;
    font-family: 'Segoe UI', sans-serif;
    line-height: normal;
}

.foot-img img {
    width: 48px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 30px;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    color: #ccc;
}

.together {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.footer-section h2,
.footer-section h3 {
    margin-bottom: 15px;
    color: #f0c330;
}

#foot-head {
    margin-bottom: 15px;
    color: #f0c330;
    font-size: 22px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
    font-size: 15px;
}

.footer-section ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #f0c330;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section.socials a {
    display: inline-block;
    margin-right: 10px;
    filter: brightness(0) invert(1);
    transition: transform 0.3s;
}

.footer-section.socials a:hover {
    transform: scale(1.2);
}

.footer-section.socials img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    border-top: 1px solid #333;
    padding-top: 15px;
    margin-top: 30px;
    font-size: 14px;
    color: #aaa;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    /* font-family: Arial, sans-serif; */
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.5;
}

img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}

h2 {
    margin-top: -365px;
    margin-bottom: 220px;
    font-size: 50px;
    background: #ff6a00;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.inline-block {
    max-width: 100%;
    display: inline-block;
}

.page-wrapper {
    z-index: 0;
    position: relative;
}

.container {
    width: 90vw;
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom-medium {
    margin-bottom: 32px;
}

.paragraph-large {
    letter-spacing: -0.02em;
    font-size: 20px;
    /* z-index: 10; */
}

.section-timeline-heading {
    background-color: #0a0a0a;
}

.padding-vertical-xlarge {
    padding-top: 120px;
    padding-bottom: 120px;
}

.timeline-main_heading-wrapper {
    color: #fff;
    text-align: center;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.timeline_component {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
}

.timeline_item {
    z-index: 2;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    display: grid;
    position: relative;
}

.timeline_left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
}

.timeline_centre {
    justify-content: center;
    display: flex;
}

.timeline_date-text {
    color: #fff;
    letter-spacing: -0.03em;
    font-size: 48px;
    font-weight: 500;
    line-height: 1.2;
    position: sticky;
    top: 50vh;
}

.timeline_text {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
}

.timeline_text div {
    font-size: 30px;
    background: #ff6a00;
    background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
    background: linear-gradient(to right, #ff6a00, #ee0979);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.timeline_circle {
    background-color: #fff;
    border-radius: 100%;
    width: 15px;
    min-width: 15px;
    max-width: 15px;
    height: 15px;
    min-height: 15px;
    max-height: 15px;
    position: sticky;
    top: 50vh;
    box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline_progress {

    position: absolute;
    /* Keep inside timeline_component */
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background-color: #414141;
    z-index: -2;
}

.timeline_progress-bar {

    position: absolute;
    background: #ff6a00;
    inset: 0 auto 50vh;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, #ff6a00, #ee0979);
    background: -webkit-linear-gradient(to bottom, #ff6a00, #ee0979);
    opacity: 1;
    transition: opacity 0.4s ease;
    z-index: -1;
}

.section-timeline {
    z-index: -3;
    background-color: #0a0a0a;
    position: relative;
}

.margin-bottom-xlarge {
    margin-bottom: 56px;
}

.timeline_link {
    opacity: 0.6;
    color: #fff;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    border-radius: 8px;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none;
    transition: opacity 0.3s;
    display: flex;
}

.timeline_link:hover {
    opacity: 1;
}

.link-icon {
    width: 20px;
    height: 20px;
    margin-left: 8px;
}

.inline-block {
    display: inline-block;
}

.text-colour-lightgrey {
    color: #ffffffa6;
}

.overlay-fade-top {
    background-image: linear-gradient(#0a0a0a, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: 0% 0% auto;
}

.overlay-fade-bottom {
    background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00);
    height: 80px;
    position: absolute;
    inset: auto 0% 0%;
}


.card {
    margin: 0 auto;
    padding: 20px;
    width: 570px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

#topBtn {
    position: fixed;
    bottom: 40px;
    right: 20px;
    background-color: orange;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 8px;
    display: none;
    z-index: 999;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#topBtn:hover {
    background-color: #ff7300;
}

.show {
    animation: Slidein 1s ease-in;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
        /* padding: 0 10px; */
        overflow-x: hidden;
    }

    /* Navbar */
    nav {
        align-items: flex-start;
        width: 100%;

    }

    .navflex {
        gap: 40px;
        width: 100%;
        margin-top: 20px;
    }

    nav img {
        width: 35px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .navflex ul {
        gap: 10px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .nav-links li {
        width: 100%;
        margin: 5px 0;
    }

    .nav-links a {
        display: block;
        padding: 10px;
    }

    .tgilogo {
        margin-left: 20px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .map iframe {
        width: 230px;
        height: 200px;
        object-fit: contain;
    }

    .footer-container {
        gap: 27px;

    }



    #topbtn {
        width: 20px;
        padding: 3px 9px;
        font-size: 14px;

    }

    .show {
        position: fixed;
        bottom: 8%;
        right: 14%;
        animation: Slidein 1s ease-in;
        padding: 3px 9px;
        font-size: 14px;
    }

    @keyframes Slidein {
        0% {
            right: 250px;
        }

        100% {
            right: 120px;
        }

    }

    h2 {
        font-size: 40px;
        margin-top: -316px;
    }

    .paragraph-large {
        font-size: 18px;
    }

    .padding-vertical-xlarge {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline_item {
        grid-template-columns: 64px 1fr;
        width: 100%;
    }

    .timeline_left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline_centre {
        justify-content: flex-start;
        grid-area: 1 / 1 / 3 / 2;
    }

    .timeline_right {
        grid-area: span 1 / span 1 / span 1 / span 1;
    }

    .timeline_date-text {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .timeline_text {
        font-size: 20px;
    }

    .timeline_progress {
        left: 6px;
    }

    .margin-bottom-xlarge {
        margin-bottom: 48px;
    }


}

@media (max-width:426px) {
    body {
        font-size: 16px;
        /* padding: 0 10px; */
        overflow-x: hidden;
    }

    /* Navbar */
    nav {
        align-items: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 8.5px;
    }

    .navflex {
        gap: 15px;
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .navflex ul {
        gap: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .nav-links li {
        width: 100%;
        margin: 5px 0;
        font-size: 5px;
    }

    .nav-links a {
        display: block;
        font-size: 5px;
        padding: 0;
        /* padding: 10px; */
    }

    .tgilogo {
        display: none;
    }

    h2 {
        font-size: 35px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    .map iframe {
        width: 230px;
        height: 200px;
        object-fit: contain;
    }

    .footer-container {
        gap: 27px;

    }

    #topbtn.hide {
        display: none !important;
        position: static;
        animation: none;
    }

    .paragraph-large {
        font-size: 18px;
    }

    .padding-vertical-xlarge {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline_item {
        grid-template-columns: 64px 1fr;
        width: 100%;
    }

    .timeline_left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline_centre {
        justify-content: flex-start;
        grid-area: 1 / 1 / 3 / 2;
    }

    .timeline_right {
        grid-area: span 1 / span 1 / span 1 / span 1;
    }

    .timeline_date-text {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .timeline_text {
        font-size: 20px;
    }

    .timeline_progress {
        left: 6px;
    }

    .margin-bottom-xlarge {
        margin-bottom: 48px;
    }

    .card {
        margin: 0 auto;
        padding: 20px;
        width: 300px;
        background: #1c1f2b;
        text-align: center;
        border-radius: 10px;
        position: relative;
    }

    .paragraph-large {
        letter-spacing: -0.02em;
        font-size: 14px;
        z-index: 10;
    }

}

@media (max-width:376px) {
    body {
        font-size: 16px;
        /* padding: 0 10px; */
        overflow-x: hidden;
    }

    /* Navbar */
    nav {
        align-items: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 6.7px;
    }

    .navflex {
        gap: 15px;
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .navflex ul {
        gap: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .nav-links li {
        width: 100%;
        margin: 5px 0;
        font-size: 5px;
    }

    .nav-links a {
        display: block;
        font-size: 5px;
        padding: 0;
        /* padding: 10px; */
    }

    h2 {
        font-size: 30px;
        margin-top: -309px;
    }

    .tgilogo {
        display: none;
    }


    .paragraph-large {
        font-size: 18px;
    }

    .padding-vertical-xlarge {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline_item {
        grid-template-columns: 64px 1fr;
        width: 100%;
    }

    .timeline_left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline_centre {
        justify-content: flex-start;
        grid-area: 1 / 1 / 3 / 2;
    }

    .timeline_right {
        grid-area: span 1 / span 1 / span 1 / span 1;
    }

    .timeline_date-text {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .timeline_text {
        font-size: 20px;
    }

    .timeline_progress {
        left: 6px;
    }

    .margin-bottom-xlarge {
        margin-bottom: 48px;
    }

    #topbtn.hide {
        display: none;
        position: static;
        animation: none;
        width: 20px;
        height: 10px;
        padding: 3px 9px;
        font-size: 14px;
    }
}

@media (max-width:320px) {
    body {
        font-size: 16px;
        /* padding: 0 10px; */
        overflow-x: hidden;
    }

    /* Navbar */
    nav {
        align-items: flex-start;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 4.8px;
    }

    .navflex {
        gap: 15px;
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        text-align: left;
    }

    .navflex ul {
        gap: 0px;
        margin-left: 0px;
        margin-top: 10px;
    }

    .nav-links li {
        width: 100%;
        margin: 5px 0;
        font-size: 5px;
    }

    .nav-links a {
        display: block;
        font-size: 5px;
        padding: 0;
        /* padding: 10px; */
    }

    .tgilogo {
        display: none;
    }

    h2 {
        font-size: 26px;
        margin-top: -308px;
    }

    /* .timeline_date-text {
        font-size: 13px;
        margin-left: 50px;
    }

    .timeline_text {
        font-size: 11px;
    }

    .timeline_text div {
        font-size: 16px;
    }

    .timeline_item {
        padding: 20px 8px;
    } */


    .paragraph-large {
        font-size: 18px;
    }

    .padding-vertical-xlarge {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .timeline_item {
        grid-template-columns: 64px 1fr;
        width: 100%;
    }

    .timeline_left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline_centre {
        justify-content: flex-start;
        grid-area: 1 / 1 / 3 / 2;
    }

    .timeline_right {
        grid-area: span 1 / span 1 / span 1 / span 1;
    }

    .timeline_date-text {
        margin-bottom: 24px;
        font-size: 36px;
    }

    .timeline_text {
        font-size: 20px;
    }

    .timeline_progress {
        left: 6px;
    }

    .margin-bottom-xlarge {
        margin-bottom: 48px;
    }

    .card {
        margin: 0 auto;
        padding: 20px;
        width: 233px;
        background: #1c1f2b;
        text-align: center;
        border-radius: 10px;
        position: relative;
    }

    .paragraph-large {
        letter-spacing: -0.02em;
        font-size: 11px;
        /* z-index: 10; */
    }

    #topbtn.hide {
        display: none;
        position: static;
        animation: none;
        padding: 3px 9px;
        font-size: 14px;
    }
}
